[DEFAULT]

DummyTrigger = True
BlackoutTrackPaused = False

[GOOGLE_SPREADSHEET]

GooglePrivateKey=???
SheetName=DevSheet

[TELEGRAM_BOT]

TelegramBotApiKey=???
MasterChatId=296473031
PetrushkyChatId=-1001708363632